body {
  margin: 0 auto;
  width: 500px;
  font-family: 'Helvetica',  'sans-serif';
}

p {
  letter-spacing: 1px;
  margin: 2px;
}

h4 {
  margin: 0;
  color: #3D3939;
}

h3 {
  text-align: center;
  letter-spacing: 1px;
  font-family: 'Helvetica', sans-serif;
  padding-top: 20px;
  color: #3D3939;
}

.favorites {
  padding-top: 20px;
}

.favorite-film {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  padding: 10px 20px;
  border: 1px solid #DDD;
  border-radius: 5px;
}

.instructions {
  font-size: 12px;
  color: #C2BFBF;
  text-align: center;
}

nav {
  color: #6DBFFF;
  text-align: center;
}

nav a {
  font-size: 12px;
  color: #6DBFFF;
  text-decoration: none;
}

nav a:hover {
  color: red;
}
